@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face {
  font-family: 'BOOTLE';
  src: url('../fonts/bootle.TTF');
}
/***************************/
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	height: 100%;
}
a{color: #444}
.vh {height: 100vh;}
/**************/
.navbar{
	margin-bottom: 0px;
}
.intro{
	background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: 30% 50%;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(93,101,107,0.7);
}
.hero{
    width: 100%;
    padding: 100px 0;
    position: absolute;
    bottom: 0px;
}
.intro h1{
	font-family: 'BOOTLE',sans-serif;
	letter-spacing: 2px;
	font-size: 5em;
}
/*************************/
.heading{
	font-weight: bold;
	margin-bottom: 3%;
}
.heading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 1px;
    margin: 20px 0 20px;
    background: #555;
}
/******************/
#final{
	background-image: url(../img/fondo.jpg);
	background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    color: #fff;
}
.bg-footer{background-color: rgb(93,101,107);}
.bg-footer i{margin-right: 3%;}

#final h2{font-weight: bold;}
#final a{
	margin: 0 20px 0 0;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: bottom;
}
#final a i{
	vertical-align: bottom;
    line-height: 38px
}